powergama/powergama/__pycache__/
powergama/powergama.egg-info/
powergama/userguide/UserGuide.synctex.gz
powergama/build/
powergama/dist/
powergama/doc/doc_sphinx/
powergama/examples/.ipynb_checkpoints/
powergama/examples/powergim_doggerbank/.ipynb_checkpoints/
*.sqlite
*.sqlite3
*.pyc
lpsolver_log.txt
poetry.lock
tests/tmp_files/*
.coverage
